<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Sync Bookmarks</span>
    <span class="example-spacer"></span>    
    <button mat-button>About</button>    
    <button mat-button (click)="signOut()" *ngIf="loggedIn">
      <i class="fa fa-sign-out fa-md"></i>Sign Out
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card *ngIf="loadIndicator">
  <mat-card-content>
    <div class="w-100 text-center p-3 min-width-400 min-height-400">
        <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
    </div>
  </mat-card-content>
</mat-card>
<router-outlet *ngIf="!loadIndicator"></router-outlet>

<div class="w-100 text-center pl-4 pr-4" *ngIf="!loadIndicator">
  <div class="p-1 pb-2">Please try exporting your Favourite Desktop browser's bookmarks using below extensions</div>
  <div class="p-1"><b>Google Chrome</b>: <a href="{{env.chromeExtn}}" target="_blank">{{env.chromeExtn}}</a></div>
  <div class="p-1"><b>Mozilla Firefox</b>: <a href="{{env.firefoxExtn}}" target="_blank">{{env.firefoxExtn}}</a></div>
  <div class="p-1"><b>Microsoft Edge</b>: <a href="{{env.msEdgeExtn}}" target="_blank">{{env.msEdgeExtn}}</a></div>
</div>
